.formikerror {
  color: red;
  font-size: 14px;
  margin-top: 10px!important;
}

.form-label {
  font-size: 16px !important;
}

.progress-nav .nav .nav-link {
  width: 10rem !important;
}

.invalid-feedback{
  font-size: 14px !important;
  margin-top: 10px!important;
}